/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn {
  text-align : center;
  color      : #fff;
  display    : inline-block;

  &:hover {
    @include opacity(0.9);
  }
  /*--------------------------------------
   * TYPE
  ---------------------------------------*/
  &.block { display : block; }
  /*--------------------------------------
   * SIZES
  ---------------------------------------*/
  &.small { }
  &.big { }
  &.medium { }
  &.full { width : 100%; }
  /*--------------------------------------
   * STYLES
  ---------------------------------------*/
  &.primary { }
  &.secondary { }
  &.action {}
  &.cancel {}
  &.disabled {
    @include opacity(0.5);
  }
}


