/* ==========================================================================
   FORMS AND INPUTS
   ========================================================================== */
.form-item {
  margin : 0 0 10px 0;
  width  : 100%;

  input, textarea {
    outline : none;

    &:focus {
      border : 2px solid $first-color;
    }
  }

  textarea {
    min-height : 200px;
  }

  /*--------------------------------------
    * TYPE
   ---------------------------------------*/
  &.inline {
    label, input, textarea { display : inline-block; }
    label { width : 40%; }
    input, textarea { width : 60%; }
  }

  &.block {
    label, input, textarea { display : block; width : 100%; }
  }
}

/*--------------------------------------
  * VALIDATION ERROR
 ---------------------------------------*/
.filed-validation-error {
  color       : #fff;
  font-family : Arial, Helvetica, sans-serif;
  @include rem(1.0);
}