/* ==========================================================================
   GRID
   ========================================================================== */

.grid {
  @extend %clearfix;
  padding : 0 $grid-padding $grid-padding 0;
  margin  : 0 -$grid-padding;
}

[class*='col-'] {
  float        : left;
  padding-left : $grid-padding;
}

.col-1-2 {
  width : 50%;
  @include breakpoint(phone) {
    width        : 100%;
  }
}

.col-1-3 {
  width : 33.33%;
  @include breakpoint(phone) {
    width        : 100%;
  }
}

.col-2-3 {
  width : 66.66%;
  @include breakpoint(phone) {
    width        : 100%;
  }
}

.col-1-4 {
  width : 25%;
  @include breakpoint(phone) {
    width        : 100%;
  }
}

.col-3-4 {
  width : 75%;
  @include breakpoint(phone) {
    width        : 100%;
  }
}

