/* ==========================================================================
   ICONS
   ========================================================================== */
.icon {
  display : block;
  outline: none;

  /*--------------------------------------
   * TYPE
  ---------------------------------------*/
  &.inline { display : inline-block; }
  &.center { margin : 0 auto; }
}