/* ==========================================================================
   Base
   ========================================================================== */
*, *:before, *:after {
  @include box-sizing(border-box);
  -webkit-tap-highlight-color : black(0);
}

[placeholder]:focus::-webkit-input-placeholder {
  @include transition(text-indent 0.5s 0.5s ease);
  text-indent : -100%;
  @include opacity(1);
}

//html, body { width : 100%; overflow : hidden; }

html {
  overflow-y : scroll;
  font-size  : 62.5%;
}

body {
  @include rem(1.2);
  font-family : 'Open Sans', sans-serif;
  background  : #fff;
  color       : #555;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img { max-width : 100%; }

a { text-decoration : none; }

p { margin : 0 0 20px 0; line-height : 27px; }

blockquote { margin : 0; }

hr {
  display    : block;
  height     : 1px;
  border     : 0;
  border-top : 1px solid $first-color;
  margin     : 20px 0;
  padding    : 0;
}

.inner-wrapper {
  @extend %clearfix;
  max-width : $max-width + px;
  min-width : $min-width + px;
  margin    : 0 auto;

  @include breakpoint(phone) {
    width : 95%;
  }
  @include breakpoint(tablet) {
    width : 95%;
  }

}


