/*--------------------------------------
 * TYPOGRAPHY
---------------------------------------*/

h1 {
  @include rem(2.6);
  margin : 0 0 20px 0;
  line-height: normal;
  &.first {}
  &.second {}
}

h2 {
  @include rem(2.2);
  margin : 0 0 20px 0;
  line-height: normal;
  &.first {}
  &.second {}
}

h3 {
  @include rem(1.8);
  margin : 0 0 20px 0;
  line-height: normal;
}

h4 {
  @include rem(1.6);
  margin : 0 0 20px 0;
  line-height: normal;
}