/* ==========================================================================
   BUTTONS
   ========================================================================== */

.accordion {
  margin : 0;

  dt {
    cursor : pointer;
    clear  : both;
    padding: 0.5em 0;
  }

  dd {
    margin  : 0;
    display : none;
  }

}