/* ==========================================================================
   GOOGLE MAPS
   ========================================================================== */
#gmap {
  height: 300px;

  img {
    background-size: auto;
    max-width: none;
  }

}