/* ==========================================================================
   Modal Dialog
   ========================================================================== */
.modal {
  display  : none;
  position : absolute;
  z-index  : 1001;

  .modal-close {
    @include retina-sprite('close');
    display  : block;
    z-index  : 1005;
    position : absolute;
    top      : 5px;
    right    : 5px;
    cursor   : pointer;
  }
}

.modal-inner-wrapper {
  @extend %clearfix;
  @include border-radius(5px);
  color            : #000;
  background-color : $second-color;
  padding          : 20px;
  z-index          : 1001;
  position         : relative;
  figure {
    img {
      display : block;
    }
  }

  a {
    text-decoration : underline;

    span {
      color : $first-color;
    }
  }

}

.modal-mask {
  background : black(0.9);
  position   : fixed;
  top        : 0;
  left       : 0;
  display    : none;
  z-index    : 1000;
}