/* ==========================================================================
   MAIN RESPONSIVE NAVIGATION
   ========================================================================== */
.main-nav {
  @extend %clearfix;
  height     : 40px;
  width      : 100%;
  background : #ccc;
  position   : relative;

  ul {
    @extend %clearfix;
    @extend %reset-list;
    padding : 0;
    margin  : 0 auto;
    transform: translate3d(0,0,0);

  }

  li {
    float : left;

    &.current-menu-item, &.active {
    }
  }

  a {
    color           : $first-color;
    display         : inline-block;
    text-align      : center;
    text-decoration : none;
    line-height     : 2em;
  }

  @include breakpoint(phone) {
    height : auto;

    ul {
      width    : 100%;
      display  : none;
      height   : auto;
      overflow : hidden;
    }
    li {
      position : relative;
      display  : block;
      float    : none;
      width    : 100%;

      a {
        border-bottom : 1px solid #576979;
        border-right  : 1px solid #576979;
      }
    }

    a {
      text-align  : left;
      width       : 100%;
      text-indent : 25px;
    }

    #pull-btn {
      display          : block;
      background-color : $second-color;
      position         : relative;
      width            : 100%;
    }

  }
}

#pull-btn {
  @include icon('hotdog', 'right');
  display : none;
}

/* ==========================================================================
   LOCAL NAVIGATION
   ========================================================================== */
.local-nav {
  ul { }
  li { }
  a { }
}
/* ==========================================================================
   SUPPORT NAVIGATION
   ========================================================================== */
.support-nav {
  ul { }
  li { }
  a { }
}