/*--------------------------------------
 * VERTICAL RHYTHM
---------------------------------------*/
$base-font-size: 14px;
$base-line-height: 18px;
@include establish-baseline;

/*--------------------------------------
 * COLORS
---------------------------------------*/
$first-color: #d9322b;
$second-color: #999999;
$third-color: #999999;

/*--------------------------------------
 * WRAPPER SIZES
---------------------------------------*/
$max-width: 1024;
$min-width: 240;

/*--------------------------------------
 * GRID PADDING
---------------------------------------*/
$grid-padding: 30px;

/*--------------------------------------
 * SPRITES
---------------------------------------*/
$icons: sprite-map("icons/*.png", $spacing: 5px);

