@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/***************************************
** Import
****************************************/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/***************************************
** Config
****************************************/
/*--------------------------------------
 * VERTICAL RHYTHM
---------------------------------------*/
* html {
  font-size: 87.5%; }

html {
  font-size: 14px;
  line-height: 1.28571em; }

/*--------------------------------------
 * COLORS
---------------------------------------*/
/*--------------------------------------
 * WRAPPER SIZES
---------------------------------------*/
/*--------------------------------------
 * GRID PADDING
---------------------------------------*/
/*--------------------------------------
 * SPRITES
---------------------------------------*/
/***************************************
** Fonts
****************************************/
/***************************************
** Gradients
****************************************/
/***************************************
** Mixins
****************************************/
/*
|------------------------------------------------------------
| Icon mixin
|------------------------------------------------------------
*/
.modal .modal-close, #pull-btn:after {
  background-image: url('../images/icons-sd7bf98a42a.png');
  background-repeat: no-repeat;
  -webkit-background-size: 64px 86.5px;
  -moz-background-size: 64px 86.5px;
  -o-background-size: 64px 86.5px;
  background-size: 64px 86.5px; }

/***************************************
** Helpers
****************************************/
/***************************************
** Functions
****************************************/
/***************************************
** Clearfix
****************************************/
.inner-wrapper, .grid, .media-small, .media-medium, .media-big, .media-small .media-content, .media-medium .media-content, .media-big .media-content, .modal-inner-wrapper, .main-nav, .main-nav ul, .tab-nav {
  *zoom: 1; }
  .inner-wrapper:before, .grid:before, .media-small:before, .media-medium:before, .media-big:before, .media-small .media-content:before, .media-medium .media-content:before, .media-big .media-content:before, .modal-inner-wrapper:before, .main-nav:before, .main-nav ul:before, .tab-nav:before, .inner-wrapper:after, .grid:after, .media-small:after, .media-medium:after, .media-big:after, .media-small .media-content:after, .media-medium .media-content:after, .media-big .media-content:after, .modal-inner-wrapper:after, .main-nav:after, .main-nav ul:after, .tab-nav:after {
    content: "";
    display: table; }
  .inner-wrapper:after, .grid:after, .media-small:after, .media-medium:after, .media-big:after, .media-small .media-content:after, .media-medium .media-content:after, .media-big .media-content:after, .modal-inner-wrapper:after, .main-nav:after, .main-nav ul:after, .tab-nav:after {
    clear: both; }

/*--------------------------------------
 * HELPER CLASSES
---------------------------------------*/
.clear {
  clear: both; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-center {
  text-align: center; }

.b-divide {
  margin-bottom: 30px; }

.t-divide {
  margin-top: 30px; }

/***************************************
** Layout
****************************************/
/* ==========================================================================
   Base
   ========================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: text-indent 0.5s 0.5s;
  -webkit-transition-delay: ease;
  -moz-transition: text-indent 0.5s 0.5s ease;
  -o-transition: text-indent 0.5s 0.5s ease;
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

html {
  overflow-y: scroll;
  font-size: 62.5%; }

body {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

p {
  margin: 0 0 20px 0;
  line-height: 27px; }

blockquote {
  margin: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9322b;
  margin: 20px 0;
  padding: 0; }

.inner-wrapper {
  max-width: 1024px;
  min-width: 240px;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .inner-wrapper {
      width: 95%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .inner-wrapper {
      width: 95%; } }

/*--------------------------------------
 * TYPOGRAPHY
---------------------------------------*/
h1 {
  font-size: 26px;
  font-size: 2.6rem;
  margin: 0 0 20px 0;
  line-height: normal; }

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  margin: 0 0 20px 0;
  line-height: normal; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 0 20px 0;
  line-height: normal; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 20px 0;
  line-height: normal; }

/* ==========================================================================
   GRID
   ========================================================================== */
.grid {
  padding: 0 30px 30px 0;
  margin: -30px; }

[class*='col-'] {
  float: left;
  padding-left: 30px; }

.col-1-2 {
  width: 50%; }
  @media only screen and (max-width: 767px) {
    .col-1-2 {
      width: 100%; } }

.col-1-3 {
  width: 33.33%; }
  @media only screen and (max-width: 767px) {
    .col-1-3 {
      width: 100%; } }

.col-2-3 {
  width: 66.66%; }
  @media only screen and (max-width: 767px) {
    .col-2-3 {
      width: 100%; } }

.col-1-4 {
  width: 25%; }
  @media only screen and (max-width: 767px) {
    .col-1-4 {
      width: 100%; } }

.col-3-4 {
  width: 75%; }
  @media only screen and (max-width: 767px) {
    .col-3-4 {
      width: 100%; } }

/* ==========================================================================
   ICONS
   ========================================================================== */
.icon {
  display: block;
  outline: none;
  /*--------------------------------------
   * TYPE
  ---------------------------------------*/ }
  .icon.inline {
    display: inline-block; }
  .icon.center {
    margin: 0 auto; }

/* ==========================================================================
   FORMS AND INPUTS
   ========================================================================== */
.form-item {
  margin: 0 0 10px 0;
  width: 100%;
  /*--------------------------------------
    * TYPE
   ---------------------------------------*/ }
  .form-item input, .form-item textarea {
    outline: none; }
    .form-item input:focus, .form-item textarea:focus {
      border: 2px solid #d9322b; }
  .form-item textarea {
    min-height: 200px; }
  .form-item.inline label, .form-item.inline input, .form-item.inline textarea {
    display: inline-block; }
  .form-item.inline label {
    width: 40%; }
  .form-item.inline input, .form-item.inline textarea {
    width: 60%; }
  .form-item.block label, .form-item.block input, .form-item.block textarea {
    display: block;
    width: 100%; }

/*--------------------------------------
  * VALIDATION ERROR
 ---------------------------------------*/
.filed-validation-error {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-size: 1rem; }

/* ==========================================================================
   LISTS
   ========================================================================== */
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn {
  text-align: center;
  color: #fff;
  display: inline-block;
  /*--------------------------------------
   * TYPE
  ---------------------------------------*/
  /*--------------------------------------
   * SIZES
  ---------------------------------------*/
  /*--------------------------------------
   * STYLES
  ---------------------------------------*/ }
  .btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9; }
  .btn.block {
    display: block; }
  .btn.full {
    width: 100%; }
  .btn.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

/* ==========================================================================
   MEDIA
   ========================================================================== */
.media-small .media-image, .media-medium .media-image, .media-big .media-image {
  float: left; }
  .media-small .media-image img, .media-medium .media-image img, .media-big .media-image img {
    display: block;
    width: 100%; }
.media-small .media-content, .media-medium .media-content, .media-big .media-content {
  float: left;
  padding-left: 1em; }

.media-small .media-image {
  width: 20%; }
.media-small .media-content {
  width: 80%; }

.media-medium .media-image {
  width: 30%; }
.media-medium .media-content {
  width: 70%; }

.media-big .media-image {
  width: 40%; }
.media-big .media-content {
  width: 60%; }

/* ==========================================================================
   HEADER
   ========================================================================== */
/* ==========================================================================
   FOOTER
   ========================================================================== */
/***************************************
** Modules
****************************************/
/* ==========================================================================
   BUTTONS
   ========================================================================== */
.accordion {
  margin: 0; }
  .accordion dt {
    cursor: pointer;
    clear: both;
    padding: 0.5em 0; }
  .accordion dd {
    margin: 0;
    display: none; }

/* ==========================================================================
   GOOGLE MAPS
   ========================================================================== */
#gmap {
  height: 300px; }
  #gmap img {
    background-size: auto;
    max-width: none; }

/* ==========================================================================
   Modal Dialog
   ========================================================================== */
.modal {
  display: none;
  position: absolute;
  z-index: 1001; }
  .modal .modal-close {
    background-position: 0 1px;
    width: 66px;
    height: 66px;
    display: block;
    z-index: 1005;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }

.modal-inner-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  background-color: #999999;
  padding: 20px;
  z-index: 1001;
  position: relative; }
  .modal-inner-wrapper figure img {
    display: block; }
  .modal-inner-wrapper a {
    text-decoration: underline; }
    .modal-inner-wrapper a span {
      color: #d9322b; }

.modal-mask {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000; }

/* ==========================================================================
   MAIN RESPONSIVE NAVIGATION
   ========================================================================== */
.main-nav {
  height: 40px;
  width: 100%;
  background: #ccc;
  position: relative; }
  .main-nav ul {
    padding: 0;
    margin: 0 auto;
    transform: translate3d(0, 0, 0); }
  .main-nav li {
    float: left; }
  .main-nav a {
    color: #d9322b;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 2em; }
  @media only screen and (max-width: 767px) {
    .main-nav {
      height: auto; }
      .main-nav ul {
        width: 100%;
        display: none;
        height: auto;
        overflow: hidden; }
      .main-nav li {
        position: relative;
        display: block;
        float: none;
        width: 100%; }
        .main-nav li a {
          border-bottom: 1px solid #576979;
          border-right: 1px solid #576979; }
      .main-nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px; }
      .main-nav #pull-btn {
        display: block;
        background-color: #999999;
        position: relative;
        width: 100%; } }

#pull-btn {
  position: relative;
  display: none; }
  #pull-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -10px;
    background-position: 0 -66px;
    width: 22px;
    height: 22px; }

/* ==========================================================================
   LOCAL NAVIGATION
   ========================================================================== */
/* ==========================================================================
   SUPPORT NAVIGATION
   ========================================================================== */
/* ==========================================================================
   TABS
   ========================================================================== */
.tab-nav {
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #666; }
  .tab-nav li {
    background-color: #ccc;
    position: relative;
    padding: 0.5em;
    float: left;
    list-style-type: none;
    margin-left: 1em;
    text-align: center;
    cursor: pointer;
    border: 1px solid #666;
    border-bottom: 0;
    z-index: 9; }
    .tab-nav li:active, .tab-nav li.active {
      background-color: #FFFFFF;
      bottom: -1px; }
    @media only screen and (max-width: 767px) {
      .tab-nav li {
        float: none;
        border-bottom: 1px;
        bottom: 0;
        margin-left: 0; }
        .tab-nav li:active, .tab-nav li.active {
          background-color: #FFFFFF;
          bottom: 0; } }

.tab-content .tab {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }
  .tab-content .tab.animated {
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out; }
.tab-content .active {
  opacity: 1;
  height: auto; }
