/*--------------------------------------
 * HELPER CLASSES
---------------------------------------*/

%hide-text { @include hide-text; }

.clear { clear : both; }
.f-left { float : left; }
.f-right { float : right; }
.t-left { text-align : left; }
.t-right { text-align : right; }
.t-center { text-align : center; }
.b-divide { margin-bottom : $grid-padding; }
.t-divide { margin-top : $grid-padding; }