/*
|------------------------------------------------------------
| Icon mixin
|------------------------------------------------------------
*/
@mixin inline-icon($side) {
  display        : inline-block;
  vertical-align : middle;
  @if $side == 'left' { margin-right : 0.5em }
  @if $side == 'right' { margin-left : 0.5em }
}

@mixin absolute-icon($side, $icon-name) {
  position   : absolute;
  top        : 50%;
  #{$side}   : 0.5em;
  margin-top : -(image-height($icon-name) / 4);
}

@mixin icon($icon, $side, $inline : false, $pseudo-element : '') {
  $icon-name : 'icons/' + $icon + '.png';

  @if $pseudo-element == '' {
    @if $side == left {
      $pseudo-element : 'before';
    } @else {
      $pseudo-element : 'after';
    }
  }

  position : relative;

  &:#{$pseudo-element} {
    content : "";
    @if $inline == true { @include inline-icon($side); }

    @if $inline == false { @include absolute-icon($side, $icon-name); }

    @include retina-sprite($icon);
  }
}